@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap");

:root {
  --primary-black: #151515;
  --primary-white: hsla(0, 0%, 100%, 1);
  --primary-gold: hsla(24, 56%, 63%, 1);
  --secondary-black: hsla(0, 0%, 8%, 1);
  --primary-grey: #444444;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Big Shoulders Display", cursive;
}

h1 {
  font-size: 60px;
  line-height: 55px;
  margin: 2rem 0;
  text-transform: uppercase;
  font-weight: 900;
}

p {
  font-family: "Outfit", sans-serif;
  color: var(--primary-grey);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header section {
  padding: 1rem;
}

header a {
  inline-size: 50%;
  margin: 2rem 0;
}

header a,
.back-btn a {
  display: inline-block;
  background-color: var(--primary-black);
  color: var(--primary-white);
  padding: 1.5rem 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.12rem;
  position: relative;
}

header a::after,
.back-btn a::before {
  background-color: var(--primary-gold);
  position: absolute;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  inline-size: 48px;
  justify-content: center;
}

header a::after {
  content: url(./assets/icon-arrow-right.svg);
  right: -2rem;
}

header a:hover,
.back-btn a:hover {
  background-color: var(--primary-gold);
  cursor: pointer;
  transition: all 0.5s ease-in;
}

header a:hover::after,
.back-btn a:hover::before {
  background-color: var(--primary-black);
  transition: all 0.5s ease-in;
}

.home {
  margin: 7.5rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.6875rem;
}

.location {
  position: relative;
}

img {
  width: -webkit-fill-available;
}

picture {
  /* margin-bottom: 1rem; */
  display: flex;
}

h2 {
  color: var(--secondary-black);
  text-transform: uppercase;
  font-size: 50px;
  line-height: 45px;
  margin-top: 25px;
}

section {
  padding: 1.75rem 1rem;
}

section.location {
  background-color: var(--primary-black);
  color: var(--primary-white);
  padding: 1.75rem 1rem;
}

.location h2 {
  color: var(--primary-white);
  max-width: 280px;
}

.location h3 {
  margin: 3rem 0 1.25rem 0;
  color: var(--primary-gold);
  font-weight: 900;
  font-size: 32px;
  line-height: 32px;
}

.location p {
  color: var(--primary-white);
  margin-top: 0;
  max-width: 400px;
}

section p {
  margin: 2rem 0;
  font-size: 18px;
  line-height: 28px;
}

.grid-1 picture {
  order: 1;
}

.grid-1 div {
  order: 2;
}

.grid-2 {
  display: grid;
  grid-template-areas: "img1" "img2" "section";
  gap: 1rem;
}

.grid-img {
  grid-area: img1;
  display: flex;
}

.grid-img-2 {
  grid-area: img2;
  display: flex;
}

.content {
  grid-area: section;
  background-color: var(--primary-black);
  color: var(--primary-white);
  padding: 3rem 1.5rem;
}

.content h2 {
  color: var(--primary-white);
  margin-top: 0;
}

.content p {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  color: var(--primary-white);
}

.back-btn {
  position: absolute;
  left: 0;
  top: 0;
  text-decoration: none;
  width: 70%;
  max-width: 264px;
}

.back-btn a {
  margin: 0;
  inline-size: 100%;
  padding: 1.5rem 2rem 1.5rem 4.75rem;
}

.back-btn a::before {
  content: url(./assets/icon-arrow-left.svg);
  left: 0;
}

.home-footer {
  background: var(--primary-black);
  color: var(--primary-white);
}

.home-footer p {
  color: #ffffff;
}

.location-footer {
  background-color: var(--primary-gold);
  color: var(--primary-black);
}

.location-footer p {
  color: var(--primary-black);
}

.location-footer img {
  filter: invert(1);
}

footer {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
}

footer h3 {
  text-transform: uppercase;
  width: 40%;
  font-size: 1.75rem;
  max-width: 123px;
}

footer p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  margin: 2.25rem 0;
  color: #ffffff;
  max-width: 280px;
}

footer .logo {
  width: 45%;
  height: 45%;
  object-fit: contain;
  max-width: 120px;
}

footer img {
  height: 1.25rem;
  object-fit: contain;
  width: 1.25rem;
  vertical-align: middle;
}

footer ul {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

footer li:hover {
  cursor: pointer;
  filter: invert(0.45) sepia(100%) brightness(80%);
}

.location-footer li:hover {
  filter: invert(1);
}

@media (min-width: 768px) {
  header {
    display: flex;
    position: relative;
  }

  header section {
    position: absolute;
    right: 0;
    max-width: 385px;
    bottom: 15%;
    padding: 0rem;
  }

  h1 {
    font-size: 70px;
    line-height: 65px;
    width: 85%;
    max-width: 380px;
  }

  header p {
    width: 90%;
  }

  .home {
    max-width: 90%;
  }

  main img {
    width: 100%;
  }

  section {
    padding: 0rem 2rem;
  }

  section p {
    margin: 1.5rem 0;
  }

  section.location {
    display: flex;
    justify-content: space-between;
    padding: 5.5rem 2.5rem;
  }

  .location h2 {
    margin-top: 0;
  }

  .location h3 {
    margin-top: 0;
  }

  .grid-1 {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    justify-items: flex-start;
    place-items: normal;
  }

  .grid-1 picture {
    order: 2;
  }

  .grid-1 div {
    order: 1;
    width: 65%;
  }

  .grid-2 {
    grid-template-areas: "img1 img2" "img1 section";
    gap: 0.75rem;
    grid-template-columns: 3fr 2fr;
  }

  .back-btn {
    left: 5%;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  footer p {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  header picture {
    position: relative;
    display: flex;
    /* max-height: 800px; */
  }

  header img {
    width: 38%;
    object-fit: contain;
  }

  header picture::before {
    content: "";
    /* position: absolute; */
    background-color: #151515;
    width: 450px;
  }

  header section {
    position: absolute;
    display: flex;
    max-width: 100%;
    gap: 14rem;
    width: 80%;
    margin: 0 -1rem;
    right: 0.75rem;
    /* max-width: 1024px; */
  }

  header p {
    font-size: 22px;
    line-height: 32px;
    margin: 1.5rem 1rem;
  }

  header div {
    max-width: 400px;
    /* margin-left: auto; */
  }

  h1 {
    /* position: absolute; */
    left: 10rem;
    mix-blend-mode: difference;
    color: white;
    font-size: 80px;
    line-height: 72px;
    max-width: 450px;
    top: 10rem;
  }

  .home {
    width: 85%;
    gap: 1.875rem;
  }

  main img {
    width: 100%;
  }

  section p {
    font-size: 22px;
    line-height: 32px;
  }

  h2 {
    font-size: 60px;
    line-height: 60px;
  }

  section.location {
    justify-content: space-around;
    padding: 5.5rem 0.75rem;
  }

  .location p {
    max-width: 520px;
  }

  .grid-1 {
    grid-template-columns: 2fr 3fr;
    align-items: center;
    margin: 0 auto;
  }

  .grid-1 div {
    width: 70%;
  }

  .grid-2 {
    gap: 1.875rem;
  }

  .content {
    padding: 4.05rem 3rem;
  }

  footer {
    justify-content: space-evenly;
  }

  footer .logo {
    height: 58px;
  }

  footer p {
    max-width: 425px;
    font-size: 18px;
    line-height: 28px;
  }
}

@media (min-width: 1280px) {
  header h1 {
    font-size: 96px;
    line-height: 88px;
  }

  header section {
    top: 12rem;
    right: 9rem;
    gap: 19rem;
  }
}
